<!DOCTYPE html>
<html>

  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>   
  </head>
  <body>
  <!--declare two html classes for the bit at thte top of the page-->
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner"> <!--these are generic logical divisions-->
        <div class="container">
          <%= link_to "sample app", '#', id: "logo" %><!--link_to is a helper, as opposed to the anchor <a tags used earlier. the value of the helper eludes me a bit at this point. the '#' is a placeholder-->
          <nav>
            <ul class="nav pull-right"><!--nav, pull-right, and container are mysterious special bootstrap stuff-->
              <li><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Help",    '#' %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
